{% extends 'layout.html' %}

{% block content %}
    <h2 class="mb-4">Create a new capsule</h2>
    <form method="post" class="capsule-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="content">Content:</label>
            <textarea id="capsule-content" name="content" class="form-control"></textarea>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button" onclick="startDictation('capsule-content')"><i class="fa fa-microphone"></i></button>
            <p id="word-counter" class="text-muted">0/100</p>
        </div>

        <div class="form-group" id="summary-group" style="display: none;">
            <label for="summary">Suggested Summary:</label>
            <textarea id="capsule-summary" class="form-control" readonly></textarea>
            <button type="button" id="accept-summary" class="btn btn-primary mt-3" style="display: none;">Accept Summary</button>
        </div>
        
        <div class="form-group">
            <label for="tags">Tags:</label>
            <input type="text" id="capsule-tags" name="tags" class="form-control" />
        </div>
    
        <div class="form-group">
            <label for="tag-suggestions">Suggested Tags:</label>
            <div id="tag-suggestions">
                <span>Start typing or type further for suggestions</span>
            </div>
        </div>
    
        <button type="submit" class="btn btn-primary mt-3">Create</button>
        <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Cancel</a>
    </form>
{% endblock %}